.header {
  background-image: url('https://images8.alphacoders.com/819/thumb-1920-819212.jpg');
  /*background-image: url('https://ak2.picdn.net/shutterstock/videos/2845492/thumb/1.jpg');*/
  /*background-color: honeydew;*/
  opacity: 0.7;
  /*color: red;*/
}

.dropdown-menu {
  background-image: url('https://ak2.picdn.net/shutterstock/videos/2845492/thumb/1.jpg');
}

.glyphicon-apple {}


/*.title {
  color: white
}

.nav {
  color: red;
}

li {
  color: white;
}*/


/*nav {
  color: gold;
}*/


/*.navbar-header {
  color: red;
}*/


/*div {
  color: gold;
}*/
