<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button id="img"
            onclick="picture()"
            type="submit"
            class="btn btn-success save cook"
            [disabled]="!recipeForm.valid"
            >Save
          </button>
          <button type="button" class="btn btn-danger cancel" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URl</label>
            <input
            type="text"
            id="imagePath"
            formControlName="imagePath"
            class="form-control"
            #imagePath>
            <img [src]="imagePath.value" class="img-responsive img-thumbnail">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
            type="text"
            id="description"
            class="form-control"
            formControlName="description"
            rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;">
            <div class="col-xs-8">
              <input
              type="text"
              class="form-control"
              formControlName="name">
            </div>
            <div class="col-xs-2">
              <input
              type="number"
              class="form-control"
              formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger x"
                (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success add"
                (click)="onAddIngredient()">Add Ingredient</button>
            </div>
         </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <script type="text/javascript">

       function picture(){
       var pic = "https://zeldauniverse.net/wp-content/uploads/2016/06/breath-of-the-wild-link-cooking.gif"
       document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
       document.getElementById('bigpic').style.display='block';

       }


   </script> -->
