/*body {
  color: red;
}

div {
  margin-top: 500px;
}*/

a {
  background-image: url('https://ak2.picdn.net/shutterstock/videos/2845492/thumb/1.jpg');
  background-position: right;
  opacity: 0.7;
}
