h4 {
  text-decoration: underline;
}

a {
  background-image: url('https://images8.alphacoders.com/819/thumb-1920-819212.jpg');
  background-position: left;
}

img {
  background-image: url('https://ak2.picdn.net/shutterstock/videos/2845492/thumb/1.jpg');
}

p {
  color: black;
}
