button {
  background-image: url('https://images8.alphacoders.com/819/thumb-1920-819212.jpg');
  opacity: 0.7;
}

input {
  background-image: url('https://ak2.picdn.net/shutterstock/videos/2845492/thumb/1.jpg');
  background-position: top;
  opacity: 0.7;
}
