.add {
  background-image: url('http://maxpixel.freegreatpicture.com/static/photo/2x/Painting-Paint-Nature-Watercolour-Green-Watercolor-1317812.jpg');
  background-position: top;
  opacity: 0.7;
}

.clear {
  background-image: url('https://images8.alphacoders.com/819/thumb-1920-819212.jpg');
  opacity: 0.7;
}

.delete {
  background-image: url('https://i.pinimg.com/236x/71/d9/5a/71d95a697b04461c9c1a7eebc0f79afd--coral-watercolor-watercolor-texture.jpg');
  background-position: center;
  opacity: 0.7;
}

input {
  background-image: url('https://ak2.picdn.net/shutterstock/videos/2845492/thumb/1.jpg');
  background-position: right;
  opacity: 0.7;
}
